/rust_make/target/
/lean_make/.lake/
/dist/
/c_make/bin/
*.o
*.a
.maked.db
.maked_cache/
/benchmarks/lua_test/lua-5.4.9/src/lua
/benchmarks/lua_test/lua-5.4.9/src/luac
/benchmarks/lua_test/lua-5.4.9/src/compile_commands.json
/benchmarks/lua_test/lua-5.4.9/src/build.ninja
/benchmarks/lua_test/lua-5.4.9.tar.gz
.maked_log
